.player {
    &.exploded {
        animation-name: playerFadeOut;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 0.35;
        animation-direction: alternate;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }

    .player-booster,
    .player-booster g {
        transition: all 0.25s ease-in-out;
    }
}

.explosion-svg {
    animation-name: explode;
    animation-duration: 0.35s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}


@keyframes explode {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.5);
    }
}


@keyframes playerFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}