.countdown-container {
    position: absolute;
    display: flex;

    top: 0;
    left: 0;


    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000070;

    .countdown {
        min-width: 100px;
        min-height: 100px;
        margin: auto;

        background: rgba(255, 255, 255, 0.05);
        border: 1px solid #121625;

        position: relative;

        font-size: 60px;
        
        display: flex;

        border-radius: 50%;

        div {
            margin: auto;
            display: block;
        }
    }
}