.scoreboard-container {
    position: absolute;
    display: flex;

    top: 0;
    left: 0;

    &.finished {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000070;

        .scoreboard .title {
            background: #181f32 url(/logo/confeti.svg) repeat-x;
            background-position: 0 -8px;
            background-size: 80px;
        }
    }

    .scoreboard {
        min-width: 300px;
        max-width: 500px;
        margin: auto;

        background: rgba(255, 255, 255, 0.05);
        border: 1px solid #121625;

        position: relative;



        .title {
            display: flex;
            flex-wrap: wrap;
            padding: 12px 55px 14px 20px;

            h2 {
                font-size: 1.6rem;
                margin: 0 auto 0 0;
                font-weight: 600;
            }
        }

        .box-list {
            max-height: 400px;
            overflow-y: scroll;

            .box {
                box-shadow: 0 -1px 0 #0b0e17;
                padding: 8px 10px;

                svg {
                    margin-right: 5px;
                    vertical-align: middle;
                    height: 40px;
                    width: 40px;

                    .st0 {
                        fill: #fa3757;
                    }

                    .st1 {
                        opacity: .1;
                    }
                }

                div:nth-child(2) {
                    padding-left: 10px;
                    display: inline-block;
                    overflow: hidden;
                    max-width: 140px;
                    text-overflow: ellipsis;
                    vertical-align: middle;
                    white-space: nowrap;
                }
            }

            .box+.box+.box+.box {
                svg {
                    display: none;
                }
            }
        }
    }
}