.join-form-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

    .join-form {
        max-width: 500px;
        margin: auto;

        background: rgba(255, 255, 255, 0.05);
        border: 1px solid #121625;
        padding: 20px;

        .center {
            text-align: right;
        }

        .input {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1.5rem;
            position: relative;

            label {
                color: white;
                display: inline-block;
                margin: 0 0 5px;
                width: 100%;
            }

            input {
                background-color: #1d2230;
                border-radius: 2px;
                box-shadow: none;
                border: 1px solid rgba(255, 255, 255, 0.5);
                color: white;
                font-family: inherit;
                font-size: 1rem;
                min-height: 42px;
                padding: 5px 10px;
                width: 100%;
            }
        }

        button {
            background-color: #4d5aff;
            border: 2px solid #4d5aff;
            border-radius: 50px;
            color: white;
            cursor: pointer;
            font-size: 1rem;
            font-family: inherit;
            font-weight: 600;
            min-height: auto;
            width: auto;
            padding: 8px 25px;
            text-align: center;
            text-decoration: none;
        }
    }
}