.game-chat {
    width: 100%;
    height: 100%;

    &>div:first-child {
        height: calc(100% - 23px);
        background: #00000040;
        overflow-y: scroll;
        overscroll-behavior-y: contain;
        scroll-snap-type: y mandatory;

        div.chat-message:last-child {
            scroll-snap-align: end;
        }
    }

    div {
        width: 100%;
    }

    input {
        width: 80%;
        outline: none;
    }

    button {
        width: calc(20% - 10px);
        padding: 2px;
        margin: 0px;
        outline: none;
        border: 0px;
    }
}