.wrapper {
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: #00000080;

    .container {
        height: 100%;

        .world {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            margin: auto;
            opacity: 0;

            svg {
                width: 100%;
                height: 100%;
            }

            animation-name: fadeInWorld;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            animation-delay: 0.1s;
            animation-direction: alternate;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-play-state: running;
        }
    }
}

@keyframes fadeInWorld {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}